lat = '35.658'
lng = '139.7016'

lat = '34.684023'
lng = '135.827560'

lat = '34.704649'
lng = '135.499200'

</br>
<%= @result_data1[0][:name] %></br>
<%= @result_data1[0][:address] %>

<h1>Public::Stores#index</h1>
<p>Find me in app/views/public/stores/index.html.erb</p>
<%= @result %>