
<div class = "m-4">

  <script src="app.js"></script>
    <title>Places Search Box</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- playground-hide -->
    <script>
      const process = { env: {} };
      process.env.GOOGLE_MAPS_API_KEY =
        "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg";
    </script>
    <!-- playground-hide-end -->

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <input
      id="address"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    <input type="button" value="検索" onclick="codeAddress()">
    <div id="map"> 
     </div>
     
      <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyA0kYKl2T1oeZcPhMcBTSQ_7tvl8kVoO4M&callback=initMap" async defer></script>
      </script>
    
   </body>

  <style>
    #gmap {
      height: 600px;
      width: 800px;
    }
  </style>
  <div id="gmap"></div>
  
  <script>
    var map;
    function initMap() {
      geocoder = new google.maps.Geocoder()
      var target = document.getElementById('gmap');
      var empire = {lat: 35.68223, lng: 139.76688};  
      //Empire State Bldg の緯度（latitude）と経度（longitude）
      map = new google.maps.Map(target, {
        center: empire,
        zoom: 14
      });
    }
    let geocoder
    let aft
    function codeAddress(){
      let inputAddress = document.getElementById('address').value;
      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true // ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

  </script> 
</div>
<%= @result %>