
<div class = "container">
    <div class = "row "><%= notice %></div>
    <div clss = "row">
      <div class = "col-sm-12 col-md-12 col-lg-12">
          
      <%= render 'admin/template/article_index', articles: @articles %>
     
        
        
        <div class = "m-4"><%= paginate @articles %></div>
      </div>
    </div> 
</div>