<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "Tag" %>
    <tbody>
      <% @tag.each do |tag| %>
        <tr>
          <td><%= tag.tag %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @article.each do |article| %>
        <tr>
          <td><%= article.store_name %></td>
          <td><%= article.address %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>