
  <div class= "container">
        <div class= "row mt-5">
            <h1 class= "px-3 mx-auto">
            <strong>About</strong>
            </h1>
        </div>
        <div class = "row m-5">
          <div class = "px-3 mx-auto text-center">
            <p>FavoriteCafeはCafeのレビュー投稿サイトになります。<br>
        　　このサイトを通して普段住んでいる場所の近くに隠れた名店をみつけることができるかもしれません。<br>
        　　また訪れたお店を人に紹介することによって貴方の投稿が誰かの助けになるかもしれません。</p>
          </div>
        </div>
    </div>