<div class = "container">
    <div class = "row">
        <div class = "col-sm-12 col-mg-11 col-lg-10 px-sm-0">
            
            <h5 class = "col-lg-3 m-5 font-weight-bold">タグ一覧・追加</h5>
            <div class = "row">
                <div class = "col-lg-11">
                    <table class = "table">
                        <thead>
                            <tr>
                                <th>タグ一覧</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                         <% @tag_all.each do |tags| %>
                        <tbody>
                            <tr>
                                <th><%= tags.tag %></th>
                                <th><%= link_to "編集する", edit_admin_tag_path(tags), class: "btn btn-success" %></th>
                                <th>
                                    <%= link_to admin_tag_path(tags), class:"btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                                     <i>削除</i>
                                    <% end %>
                                </th> 
                       
                            </tr>
                        </tbody>
                        <% end %>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>